<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browserType" value="chrome"/>
<parameter name="appURL" value="https://www.aliexpress.com"/>
  <test thread-count="1" name="Test">
    <parameter name="itemToSearch" value="iPhone"/>
    <classes>      
      <class name="test.java.tests.SearchTest"></class>
    </classes>
  </test>
</suite> 